*{
	padding: 0;
	margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');

body{
	font-family: 'Send Flowers', cursive;
}

body > h1{
	text-align: center;
	margin-top: 30vh;
}
